h1{text-align: center;font: bolder;color:blueviolet;
    font-family: 'Passion One', cursive;}
#zero{margin-top: 100px;margin-left: 300px;color:black}
#one{margin-top: 10px;margin-left: 200px;font-size: larger;color:black}
#two{margin-top: 100px;margin-left: 200px;font-size: larger;color:black}
h2{margin-top: 100px;text-align: center;color:blueviolet;font-family:'passion one',cursive;}
#three{height:300px; width: 300px;border:20px solid rgb(50, 200, 205);margin-left: 500px;}
#four{margin-left: 200px;margin-top: 20px;font-size: larger; color:black}
